*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 100px auto 0px;
    align-content: flex-start;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: solid 3px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked{
    background-color: red;
}

.clicked .square-number{
    display: block;
}

.square-number{
    display: none;
}